<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">  
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>  
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://binaryfortressdownloads.com/Download/WPF/Images/25982/WallpaperFusion-color-collage-1680x480.jpg" alt="">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Color Collage</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.redd.it/my4ctb40dmpz.png" width="1680" height="480">
        <div class="container">
          <div class="carousel-caption">
            <h1>Colorin</h1>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://images.fineartamerica.com/images-medium-large/collage-color-study-sketch-michelle-calkins.jpg" alt="" width="1680" height="480">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>
              Collage Color Study Sketch</h1>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bienvenido a los colores</h1>
        <p class="lead text-muted">El color es impresión que producen en la retina los rayos de luz reflejados y absorbidos por un cuerpo, 
          según la longitud de onda de estos rayos.</p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false"><title>ROJO</title><rect width="100%" height="100%" fill="#FE0303"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">ROJO</text></svg>
            <div class="card-body">
              <p class="card-text">Entre las más positivos se asocia el rojo al calor, a la pasión y la energía. También se vincula a la afectividad, siendo en su polo positivo también asociado al amor (si bien suele tener mayor vinculación uno de sus derivados, el rosa), la sensualidad y al sexo.</p>
              <div class="d-flex justify-content-between align-items-center">            
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>VERDE</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">VERDE</text></svg>
            <div class="card-body">
              <p class="card-text">El verde, además de transmitir tranquilidad y calma, se asocia con la naturaleza, prosperidad, fertilidad, salud, y generosidad. Sin embargo, como ocurre con los demás colores, otras connotaciones negativas como la envidia y los celos son asociados al color verde.</p>
              <div class="d-flex justify-content-between align-items-center">     
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>AZUL</title><rect width="100%" height="100%" fill="#0000FE"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">AZUL</text></svg>
            <div class="card-body">
              <p class="card-text">El color azul es un color frío como el verde y el violeta, y forma parte de los llamados colores psicológicos primarios. ... En términos generales, el azul representa estabilidad. El azul marino es asociado a la profundidad, al orden de lo sagrado, a la inmortalidad y al poder.</p>
              <div class="d-flex justify-content-between align-items-center">                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Diseño y Tecnológia Web</p>
    <p class="mb-0">Andrés Agudelo 2021-03-08</p>
    <p class="mb-0">Trabajo #3 Angular</p>
  </div>
</footer>